html{
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    margin: 0;
}
button{
    color: #ffffff;
    background: #F84646;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem; 
}
h1{
    font-size: 64px;
    font-weight:800 ;
    font-family:"Manrope", sans-serif ;
    margin: 0;
    
}
h2{
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}
h3{
    font-size: 2rem;
    font-weight: 800;
    margin: 0;

}
#presentation-container{
    padding: 2.5rem 7.5rem;
    height: 100vh ;
    background-image:url(assets/fundo.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
} 
#Presentation{
    align-items: center;
    margin-left: 90px;
}
#presentation{
    width: 39.5rem;
}
.container{
    padding: 5rem 7.5rem;
    text-align: center;    
}
 
.contact-title{
    margin-top: 8px;
}
.container > p {
    margin-top: 24px;
}
.container > button{
    margin-top: 32px;
    transition: opacty 0.5s ease-in-out, transform 0.5s .2s;
}
.container > button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
.background-gradient{
    margin-left: -90px;
    background: linear-gradient(180deg, #fff, #d9d9d9)
}
.background-red{
    background-color: #F84646;
    color: #fff;
}
#qualities{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 4rem;
}
#qualities > img{
    margin:  0 2.5rem ;
}
.article-details{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}
.article-container{
    display: flex;
    flex-direction: row;
}
.article-container:nth-chlid(even){
    margin-top:5rem ;
    flex-direction: row-reverse;
}
.article-details{
    display: flex;
    flex-direction: column;
    text-align:  left;
    align-items: flex-start;
    margin:0 2.5rem ;
    
}
.article-details:nth-child(even){
    display: flex;
    flex-direction: column;
    text-align:  left;
    align-items: flex-start;
    margin:0 0 0 2.5rem ;
    
}
.article-details > button{
    margin-top: 3rem;
    font-size: .8rem;
}
#Artigo1{
    margin-left: 190px;
}
#footer-list{
    display: flex;
    text-align: left;
}
#footer-list > ul >li{
    list-style: none;
    margin-bottom:1rem ;
}
#footer-list > ul >li:last-child{
    margin-bottom: 0;
}  
.footer-list-title{
    margin-bottom: 1.5rem;
    font-weight: 700;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:5.5rem ;
}
@media only screen and (min-width: 768) and (max-width:1023){
   h1{
    font-size: 2rem;
   }
   h2{
    font-size: 2.0rem;
   }
   .grid-container{
    grid-template-columns:repeat(2, 1fr);
}
}
@media only screen and( max-width:768){
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 2.0rem;
   }
    .grid-container{
        grid-template-columns: 1fr;
    }
    #qualities{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }
    #qualities > img{
        transform: rotate(90deg);
        margin: 2.5rem 0 ;
    }
    .article-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .article-details{
        text-align: center;
        align-items: center;
    }
    .article-container:nth-child(even){
    flex-direction: column;
}}